autopep8==1.5.2
certifi==2022.12.7
cffi==1.14.0
colorama==0.4.3
cryptography==2.9.2
decorator==4.4.2
future==0.18.2
isort==4.3.21
mccabe==0.6.1
pycodestyle==2.6.0
pycparser==2.20
PySocks==1.7.1
python-telegram-bot==12.7
selenium==3.141.0
six==1.15.0
toml==0.10.1
tornado==6.0.4
urllib3==1.25.9
